@import 'https://fonts.googleapis.com/css?family=Slabo+27px';


body {
	font-family: "slabo 27px";	
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 4em;
}
h1 {
	font-size: 3.5em;
	color: rgb(160,76,19);
	margin-left: 1em;
}
h2 {
	font-size: 2.2em;
	color: rgb(160,76,19);
	margin-left: 120px;
	margin-bottom: .3em;
}
h3 {
	font-family: "slabo 27px";
	font-size: 1.5em;
	font-weight: lighter;
	color: rgb(160,76,19);
	margin-left: 175px;
}
p {
	font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 2em;
	max-width: 800px;
	margin-left: 175px;
	margin-top: 0;
}
p.schedules {
	margin-left: 182px;
}
table {
	font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
	font-size: 18px;
	width: 800px;
	background-color: rgb(255,255,255);
	text-align: left;
	text-indent: 15px;
	line-height: 1.6;
	padding: 5px;
	margin-left: 175px;
}
th {
	background-color: rgb(206,137,91);
	color: white;
}
td {
	background-color: rgb(255,243,194);
}
pre {
	font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
	font-size: 18px;
	line-height: 1.6;
	margin-left: 175px;
	max-width: 800px;
}
a:hover {
	color: rgb(160,76,19);
	text-weight: bold;
}
a, a:visited {
	color: yellowgreen;
	text-decoration: none;
	margin-right: 2em;
}
nav a:hover {
	color: rgb(160,76,19);
	text-weight: bold;
}
#selected {
	background-color: rgb(160,76,19);
	color: white;
	padding: .2em;
}
#title {
	color: rgb(160,76,19);
}
hr {
	display: none;
}
#admission {
	margin-bottom: .3em;
}