@import 'https://fonts.googleapis.com/css?family=Slabo+27px';
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:700|Gruppo|Stint+Ultra+Expanded');


body {
	font-family: "gruppo";	
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 4em;
	min-width: 710px;
}
h1 {
	margin-top: -100px;
	margin-bottom: 70px;
	font-size: 3.5em;
	color: white;
	text-align: center;
}
h2 {
	font-size: 1.8em;
	color: grey;
	margin-left: 120px;
	margin-bottom: .3em;
}
h3 {
	font-size: 1.5em;
	color: rgb(160,76,19);
	margin-left: 175px;
}
p {
	font-family: roboto;
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 2em;
	max-width: 800px;
	margin-left: 175px;
	margin-right: 175px;
	margin-top: 0;
}
p.schedules {
	margin-left: 182px;
}
table {
	font-family: roboto;
	font-size: 16px;
	width: 700px;
	background-color: rgb(255,255,255);
	text-align: left;
	text-indent: 15px;
	line-height: 1.8;
	padding: 6px;
	margin-left: 120px;
	margin-bottom: 10px;
}
th {
	background-color: white;
	color: black;
	text-align: center;
}
td {
	background-color: rgb(255,243,194);
}
pre {
	font-family: roboto;
	font-size: 16px;
	line-height: 1.6;
	margin-left: 175px;
	max-width: 800px;
}
a:hover {
	color: rgb(160,76,19);
	text-weight: bold;
}
a {
	color: yellowgreen;
	text-decoration: none;
	margin-right: 2em;
}
nav a:hover {
	color: rgb(160,76,19);
	text-weight: bold;
}
#selected {
	background-color: rgb(160,76,19);
	color: white;
	padding: .2em;
}
#title {
	color: white;
}
hr {
	display: none;
}
#admission {
	margin-bottom: .3em;
}
.header {
	width: 102%;
	min-width: 400px;
}